body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 20px;
}


input {
    width: 80px;
}

button {
    padding: 3px;
}

p {
    margin-bottom: 3px;
}

#status {
    color: darkred;
}
